body{
    background-color: black;
    color: antiquewhite;
}

.btn-primary {
    width: 92%;
    
}
.container {
    max-width: 1000px;
}

.btn {
    width:60%;
    display:block;
}

.containre, .row, .col {
    /* border:  2px solid red; */
}
